{% extends 'base.html.twig' %}
{% block body %}
<section id="reponseDon">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-center">
          Vous avez accepter la demande de l'association
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
